@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 15px 0 0 0;
    height: 100%;
}

header {
    position: relative;
}

#logo {
    text-align: initial;
}

#logo img {
    width: 180px;
    margin-left: 70px;
}

#localisation {
    width: fit-content;
    background: none;
    position: absolute;
    right: 50px;
    top: 0;
    height: auto;
    font-size: 19px;
}

#explorer {
    width: 30%;
    height: fit-content;
    cursor: pointer;
}

#description {
    padding-top: 50px;
    align-items: center;
}

#fonctionnement ul {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

#fonctionnement li {
    width: 300px;
}

.menu {
    width: 20%;
}

#carte>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

#carte>div>i {
    display: initial;
    font-size: 2.5rem;
    cursor: pointer;
}

#footer {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding-right: 750px;
}

#footer ul {
    display: flex;
    width: 55%;
    justify-content: space-around;
}

#mention {
    position: absolute;
    right: 100px;
}

.bar {
    height: 80px;
    width: 2px;
    background-color: white;
    display: initial;
}

#footer img {
    width: 180px;
    padding-bottom: 0;
}


/* ---------------------------------menu--------------------------- */

#logo>div {
    text-align: center;
}

#menucarte {
    display: flex;
    flex-direction: row;
}

section {
    width: 30%;
}

#commande p {
    width: 30%;
}

#commande {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}